<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Register Page</title>
</head>
<body>
<h1>Register Page</h1>

<form action="{% url 'login_action' %}" method="post">
    {% csrf_token %}
    <p>Username:<input type="text" name="username"></p>
    <br>
    <p>Password:<input type="password" name="pass"></p>
    <br>
    <p>FirstName:<input type="text" name="first_name"></p>
    <br>
    <p>LastName:<input type="text" name="last_name"></p>
    <br>
    <p>Age:<input type="text" name="age"></p>
    <br>
    <input type="submit" value="Register">
</form>

</body>
</html>